*~
.#*
*#
nohup.out
*_config.php
*.svg
*.dot
dbmigrate/my.cnf
dbmigrate/import*
dbmigrate/export*
dbmigrate/metadata*
dbupgrade/my.cnf
dbupgrade/import*
dbupgrade/export*
backup-*
newfile-*
.git_info_rev_cache
